.h3-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: $text-weight-semibold;
  letter-spacing: 0;
  color: var(--primary-grey-color);

  @include on-tablet {
  font-size: 22px;
  line-height: 31px;
  font-weight: $text-weight-bold;
  letter-spacing: 0;
  }
}