.h1-title {
  font-size: 32px;
  line-height: 41px;
  font-weight: $text-weight-bold;
  letter-spacing: -0.01em;
  color: var(--primary-grey-color);

  @include on-tablet {
    font-size: 48px;
    line-height: 56px;
    font-weight: $text-weight-bold;
    letter-spacing: -0.01em;
  }

  @include on-big-desktop {
    width: 1200px;
  }
}
