$element-border-default: 1px solid var(--secondary-outline);
$element-border-hover: 1px solid var(--primary-grey-color);
$link-hover-active-border: 2px solid var(--primary-grey-color);

$colorpicker-border-hover: 1px solid var(--secondary-grey-color);
$colorpicker-border-active: 1px solid var(--primary-grey-color);

$text-weight-bold: 700;
$text-weight-semibold: 600;
$text-weight-regular: 500;

$transition-behavior: all 0.5s ease;
