@use '../../../../../styles/utils/mixins' as *;
@use '../../../../../styles/utils/variables' as *;

.categories {
  &__item {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__card {
    position: relative;
    display: block;
    border-radius: 8px;
    overflow: hidden;
    border: $element-border-default;
    transition: $transition-behavior;
    aspect-ratio: 4/3;
    text-decoration: none;

    &:hover {
      border: $element-border-hover;
      transform: scale(1.01);
    }
  }

  &__image {
    position: absolute;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 0 24px;
  }

  &__card-title {
    color: var(--primary-grey-color);
  }

  &__models {
    color: var(--secondary-grey-color);
  }
}
