@use '../../../styles/utils/mixins' as *;
@use '../../../styles/utils/variables' as *;
@use './components/CategoryCard/CategoryCard.scss';

.categories {
  @include page-grid;
  grid-column: 1 / -1;
  margin-bottom: 56px;

  @include on-tablet-small {
    margin-bottom: 64px;
  }

  @include on-desktop {
    margin-bottom: 80px;
  }

  &__title {
    margin-bottom: 24px;
    grid-column: 1 / -1;
  }

  &__grid {
    grid-column: 1 / -1;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(4, 1fr);

    @include on-tablet-small {
      grid-template-columns: repeat(12, 1fr);
    }

    @include on-desktop {
      grid-template-columns: repeat(24, 1fr);
    }
  }

  &__item {
    grid-column: span 4;

    @include on-tablet-small {
      grid-column: span 4;
    }

    @include on-desktop {
      grid-column: span 8;
    }
  }

  &__card {
    position: relative;
    display: block;
    border-radius: 0px;
    overflow: hidden;
    border: $element-border-default;
    transition: $transition-behavior;
    aspect-ratio: 4/3;
    text-decoration: none;

    &:hover {
      border: $element-border-hover;
      transform: scale(1.01);
    }
  }

  &__image {
    position: absolute;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 0 24px;
  }

  &__card-title {
    color: var(--primary-grey-color);
  }

  &__models {
    color: var(--secondary-grey-color);
  }
}
